a {color: #01668b;text-decoration: underline;}
a:hover {color: #f00;}
body {background: url('https://api.ixiaowai.cn/api/api.php');font: normal 13px "微软雅黑", Georgia, "Times New Roman", Times, serif, "Trebuchet MS", "Helvetica", sans-serif;margin:0; padding:0;text-align:center;}
.wrapper{margin:20px auto;width:1024px;text-align:left;}

h1 {
	background:#0000FF;
	font-size:36px;
	color:#FFFFFF;
	text-align:left;	
	margin:0px;
	padding:20px;
}

h2 {font-size:12px;background:#b4dfef;margin:0px;padding:10px;}
h2 a {float:right;display:block;}

.urlset{background: #FFFFFF; list-style:none; list-style-type:none;padding:0;margin:0;}
.urlset li{display:block;padding:3px;}
.urlset li:nth-child(odd) {background: #FFFFFF}
.aurl {font-size:12px;}

footer{background:#b4dfef;padding:10px;}

.pager,.pager td,.pager a,.pager span {
	background:#01A6E4;
	color:#FFFFFF;
	padding:3px;
	font-weight:bold;font-size:12px;
}
